header {
    text-align: left;
    width: 5000px;    
    gap : 5px;
    align-items: center;
    color: aliceblue;
    border-radius: 10px;
    margin: 0 auto;
    padding: 2px;
    margin-bottom: 5px;
    background-color: blue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }